<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <header>Add a new message</header>

      <label for="formName">Authors name</label>
      <input
        id="formName"
        name="formName"
        type="text"
        required
        placeholder="Some name..."
      />

      <label for="formMessage">Input message</label>
      <input
        id="formMessage"
        name="formMessage"
        type="text"
        required
        placeholder="Please add your message here..."
      />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
